@import "tailwindcss";

@theme {
  --color-primary: #0f4c81; /* Deep Blue reflecting trust/education */
  --color-secondary: #f4a261; /* Warm orange */
  --color-accent: #e9c46a;
  --color-background: #ffffff;
  --color-foreground: #1e293b;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    antialiased: true;
  }
}
